
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/* стили текста */
@font-face {
    font-family: Montserrat-Medium; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf); /* Путь к файлу со шрифтом */
  }
  
  @font-face {
    font-family: Montserrat-Regular; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf); /* Путь к файлу со шрифтом */
  }
  
  @font-face {
    font-family: Montserrat-Bold; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf); /* Путь к файлу со шрифтом */
  }

  @font-face {
    font-family: Montserrat-Black; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat/Montserrat-Black.ttf); /* Путь к файлу со шрифтом */
  }
  
  @font-face {
    font-family: Montserrat-Light; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat/Montserrat-Light.ttf); /* Путь к файлу со шрифтом */
  }
  
  @font-face {
    font-family: Montserrat-SemiBold; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf); /* Путь к файлу со шрифтом */
  }

/* блок общий */
.about{
    width: 1140px;
    height: 800px;
    background-size: cover;
    background-position: center;
    background: url(../img/Group23.svg);
    margin: 0 auto;
}

.about__line{
    width: 80px;
    height: 4px;
    background: #2E2401;
    margin-bottom: 2px;
    margin-left: 1px;
}

.about__title{
    font-family: Montserrat-Black;
    font-size: 65px;
    text-align: left;
    color: #2E2401;
}

.about__container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.about__text{
    width: 520px;
    line-height: 24px;
    font-family: Montserrat-Light;
    font-size: 18px;
    color: #493B08;
    margin-top: 70px;
}

.about__second-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.about__container-img{
    width: 450px;
    height: 350px;
    margin-top: 20px;
    margin-left: 70px;
}

.about-img{
    width: 100%;
    height: 100%;
}

.about__text-width{
    width: 500px;
}

@media screen and (max-width: 1199px) {

.about{
  width: 720px;
  margin: 0 auto;
}

.about__line{
  width: 7.018vw;
  height: 0.35vw;
  margin-bottom: 0.175vw;
}

.about__title{
  font-size: 5.70vw;
}

.about__text{
  width: 45vw;
  line-height: 2.13vh;
  font-size: 1.29vw;
  margin-top: 5.14vw;
}

.about__second-container{
  margin-top: 2.80vw;
}

.about__container-img{
  width: 47.47vw;
  height: 30.70vw;
  margin-top: 1.75vw;
  margin-left: 1.14vw;
  margin-right: 3vw;
}

.about__text-width{
  width: 42vw;
}
}